.coin {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: #d4af37; /* Coin color */
  border-radius: 50%;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3); /* Coin shadow */
  background-image: radial-gradient(
    circle at 50% 120%,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0) 80%
  ); /* Coin texture */
  animation: flip 1s infinite;
}

.engraving {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5); /* Engraving color */
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5); /* Engraving shadow */
}

@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
    
  }
}
.container {
  background: linear-gradient(135deg, #1e1b4b, #4c1d95);
  min-height: 100vh;
  text-align: center;
  h1 {
    color: white;
    padding: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 50px;
  }
}
.box {
  margin-top: 10%;
  background-color: white;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  padding: 20px;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.buttons-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}
input {
  width: 200px;
  height: 40px;
  font-size: 18px;
  padding: 5px 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
}
.result-group {
  margin-top: 20px;
  h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: green;
    font-size: 20px;
  }
}
.coin{
  margin: 20px auto;
}
